.container {
  margin-top: 2rem;
  width: 100%;
  text-align: center;
  height: auto;
}
h3 {
  font-size: 2rem;
}
.address {
  margin-top: 2rem;
  border-bottom: 2px solid black;
}
.bank {
  margin-top: 3rem;
  border-bottom: 2px solid black;
}
.other-contanct {
  margin-top: 2rem;
  border-bottom: 2px solid black;
}
