<div class="container">
  <h3>CONTACT</h3>
  <div class="address">
    <p>Iwona Gamus-Wesołowska i Marek Kowalski Sp.C.</p>
    <p> Jesienna 100</p>
    <p>70-807 Kraków</p>
    <p>NIP 9999999999</p>

    <p>REGON 999999999</p>

  </div>
  <div class="bank">
    <p>Bank account number: PKO 93 0000 4870 0000 5102 0007 2557</p>
  </div>
  <div class="other-contanct">
    <p>TELEFON:</p>
    <p>+48 999 999 623</p>
    <p>w godz. 12.00 - 18.00, pon-pt.</p>
    <p>E MAIL:</p>
    <p>info@wine.pl</p>
  </div>
</div>
<app-footer></app-footer>
