<div class="container">
  <div class="form">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter your name" value="Jhon">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Last name</mat-label>
      <input matInput placeholder="Enter your last name" value="Jhon">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput placeholder="this is a good page, but...">
    </mat-form-field>
    <div class="submit">
      <button type="submit">Send a opinion</button>
    </div>

  </div>
</div>
