<div class="container">
  <div class="wrapper">
    <div class="logo">
      <h2>Goods Wines</h2>
    </div>
    <div class="item2">
      <input type="search" placeholder="What are you looking for?" autocomplete="off">
    </div>
    <div class="item3">
      <ul class="nav">
        <li><a routerLink="sing-in">Sing In</a></li>
        <li><a href="#">Shopping Cart</a></li>
      </ul>
    </div>
  </div>
  <div class="wrapper2">
    <ul>
      <li><a routerLink="all-wine"> All wines</a></li>
      <li>Category
        <ul>
          <li><a routerLink="white-wine">White wine</a></li>
          <li><a routerLink="red-wine">Red wine</a></li>
          <li><a routerLink="rose-wine">Rosé wine</a></li>
          <li><a routerLink="dessert-wine">Dessert wine</a></li>
          <li><a routerLink="sparkling-wine">Sparkling wine</a></li>
        </ul>
      </li>
      <li>
        <a routerLink="send-opinion">Send opinion</a></li>
      <li>
          <a routerLink="contact">Contact</a>
      </li>
      <li>
        <a routerLink="admin-panel">Admin Panel</a>
      </li>
    </ul>
  </div>

</div>
