.container {
  width: 100%;
  box-sizing: border-box;
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 6.5rem;
  border-bottom: 2px solid black;
}
.logo {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 3rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  list-style: none;
}
li {
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
input {
 margin-top: 2rem;
  margin-left: 2rem;
  width: 85%;
  height: 3rem;
}
.wrapper2{
  margin: 0 auto;
  height: 4rem;
  border-bottom: 2px solid black;
}
.wrapper2 ul{
  list-style: none;
  margin-top: 2%;
  color: black;
}
.wrapper2 ul li {
  width: 10rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  float: left;
  font-size: 16px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}
.wrapper2 ul li:hover{
  background: #543230;
}

.wrapper2 ul ul{
  display: none;
}
.wrapper2 ul li:hover > ul{
  display: block;
  background: #543230;
}
h2 {
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: black;
}
a:hover{
  background-color: #543230;
}


