<div class="container-main-page">
  <div class="main-page-filter-menu">
    <p (click)="toggleMenu()">Wine category</p>
    <form [formGroup]="filterForm">
      <div class="menu" *ngIf="isMenuOpened">
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group-category"
                         formControlName="category">
          <mat-radio-button value="red-wine">Red wine</mat-radio-button>
          <mat-radio-button value="white-wine">White wine</mat-radio-button>
          <mat-radio-button value="rose-wine">Rose wine</mat-radio-button>
          <mat-radio-button value="dessert-wine">Dessert wine</mat-radio-button>
          <mat-radio-button value="sparkling-wine">Sprakling wine</mat-radio-button>
        </mat-radio-group>
      </div>

      <p (click)="toggleMenu()">Price</p>
      <div class="menu" *ngIf="isMenuOpened">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Minimal Price</mat-label>
          <input matInput placeholder="Enter min price" formControlName="minPrice">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Max Price</mat-label>
          <input matInput placeholder="Enter max price" formControlName="maxPrice">
        </mat-form-field>
      </div>

      <p (click)="toggleMenu()">Country</p>
      <div class="menu" *ngIf="isMenuOpened">
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group-category"
                         formControlName="country">
          <mat-radio-button value="France">France</mat-radio-button>
          <mat-radio-button value="Spain">Spain</mat-radio-button>
          <mat-radio-button value="Germany">Germany</mat-radio-button>
          <mat-radio-button value="Italy">Italy</mat-radio-button>
        </mat-radio-group>
      </div>
      <button type="submit" class="apply" (click)="filterSearch()">apply</button>
    </form>
  </div>


  <div class="main-page-all-wines">
    <div class="all-wine">
      <div class="item1" *ngFor="let wine of wines">
        <div class="img">
          <img [src]="wine?.imgUrl" (click)="goToDetails(wine.id)">
        </div>
        <div class="desc">
          <p>{{wine?.name}}</p>
          <p>{{wine?.price}}zł</p>
          <div class="button">
            <button type="submit">Add to cart</button>
          </div>
        </div>
      </div>
