.container{
  width: 75%;
  height: 50vh;
  float: right;
  margin-top: 2rem;
}
table {
  width: 100%;
  height: max-content;
  text-align: center;
  border: 1.5px solid black;
  border-radius: 20px;
  padding: 5px;
}
p {
  text-align: center;
  font-size: 2rem;
}
