.main-sparkling-wine {
  display: grid;
  grid-template-columns: repeat(4, 22.8%);
  row-gap: 12rem;
  column-gap: 3%;
  grid-auto-rows: 20rem;
  border-bottom: 2px solid black;
  height: 110vh;
  margin-top: 3%;
}

.sparkling-wine {
  height: 50vh;
  border: 1.5px dotted black;
}
.img {
  width: 100%;
  height: 68%;
}
.desc {
  width: 100%;
  height: 32%;
  padding-top: 1.3rem;
}
.button {
  text-align: center;
  position: relative;
}
button {
  width: 3rem;
  border-radius: 50%;
}
@media only screen and (max-width: 494px) {
  .main-sparkling-wine{
    grid-template-columns: repeat(1, 95%);
    row-gap: 4.7%;
    min-height: 485vh;
  }
}
@media only screen and (min-width: 495px) and (max-width: 706px){
  .main-sparkling-wine{
    grid-template-columns: repeat(2, 47.5%);
    row-gap: 9%;
    min-height: 235vh;
  }
  .sparkling-wine{
    height: 57vh;
  }
}
@media only screen and (min-width: 707px) and (max-width: 1247px){
  .main-sparkling-wine{
    grid-template-columns: repeat(3, 32%);
    min-height: 180vh;
    row-gap: 12%;
  }
  .sparkling-wine{
    height: 57vh;
  }
}
